<div class="container">
  <div class="row justify-content-center">
  <div class="col-auto">

    <select class="form-control" (change)="Data($event)">
      <option value="default">Select Product</option>
      <option value="digital">digital</option>
      <option value="Bike">Bike</option>
      <option value="Currecny">Currecny</option>
      <option value="Mobile">Mobile</option>
    </select>
  </div>
  <div class="col-auto" [ngSwitch]="Selectedproduct">
    <h3 class="text-warning" *ngSwitchDefault>Select Product</h3>
    <h3 class="text-warning" *ngSwitchCase="'digital'">laptop</h3>
    <h3 class="text-warning" *ngSwitchCase="'Bike'">YAMAHA</h3>
    <h3 class="text-warning" *ngSwitchCase="'Currecny'">rupee</h3>
    <h3 class="text-warning" *ngSwitchCase="'Mobile'">Sumsung</h3>
  </div>
</div>
</div>